---
layout: default
permalink: events.html
title: "Events"
description: "Aylesbury United's upcoming and recent events."
---
<h1>{{ page.title}}</h1>
<small><a href="/">Home</a> > {{ page.title }}</small>
{% for event in site.events reversed %}
  <div class="post-snippet">
    <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
    <p>{{ event.description }}</p>
    <small>
        <span class="date">{{ event.date | date: '%B %d, %Y' }}</span>
        <span class="tags">
            {% for tag in event.tags %}
            {% if forloop.last %}
                #{{ tag }}
            {% else %}
                #{{ tag }}
            {% endif %}
            {% endfor %}
        </span>
    </small>
  </div>
{% endfor %}
