<div class="sidebar">
    <div class="avatar">
        <img class="profile-pic" src="/assets/img/ducks-green.png" loading="lazy" alt="21 Ducks Aylesbury United Supporters Trust Logo" />
    </div>
    <div class="bio">
        <h2>Information</h2>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p><a href="/about.html">Find Out More</a></p>
    </div>
    <div class="contact">
        <h2>Say Hello</h2>
        <div class="socials">
            <div><a href="" target="_blank"><img src="/assets/svg/twitter-fill-svgrepo-com.svg" alt="Twitter/X"></a></div>
            <div><a href="" target="_blank"><img src="/assets/svg/facebook-fill-svgrepo-com.svg" alt="Facebook Feed"></a></div>
            <div><a href="" target="_blank"><img src="/assets/svg/instagram-fill-svgrepo-com.svg" alt="Instagram"></a></div>
            <div><a href="" target="_blank"><img src="/assets/svg/linkedin-fill-svgrepo-com.svg" alt="LinkedIn"></a></div>
            <div><a href="" target="_blank"><img src="/assets/svg/whatsapp-fill-svgrepo-com.svg" alt="WhatsApp"></a></div>
            <div><a href="" target="_blank"><img src="/assets/svg/youtube-fill-svgrepo-com.svg" alt="Youtube"></a></div>
            <div><a href="" target="_blank"><img src="/assets/svg/discord-fill-svgrepo-com.svg" alt="Discord"></a></div>
        </div>
    </div>
</div>
