<div class="sidebar">
    <div class="avatar">
        <img class="profile-pic" src="/assets/img/ducks-green.png" loading="lazy" alt="21 Ducks Aylesbury United Supporters Trust Logo" />
    </div>
    <div class="bio">
        <h2>Information</h2>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p><a href="/about.html">Find Out More</a></p>
    </div>
    <div class="contact">
        <h2>Say Hello</h2>
        <p>Twitter: </p>
        <p>Facebook: </p>
        <p>Instagram: </p>
        <p>LinkedIn: </p>
        <p>Email Us: </p>
    </div>
</div>
