<div class="sidebar">
    {% if page.menu == "about" %}
        <div class="menu">
            <h2>More</h2>
            {% include about-menu.html %}
        </div>
    {% elsif page.menu == "members" %}
        <div class="menu">
            <h2>More</h2>
            {% include members-menu.html %}
        </div>
    {% else %}
        <div class="avatar">
            <img class="profile-pic" src="/assets/img/aufc-team.jpg" loading="lazy" alt="21 Ducks Aylesbury United Supporters Trust Logo" />
        </div>
    {% endif %}
    <div class="bio">
        <h2>About</h2>
        <p>{{ site.description }}</p>
        <p><a href="/about.html">Find Out More</a></p>
    </div>
    <div class="contact">
        <h2>Say Hello</h2>
        <div class="socials">
            <div>
                <div><a href="https://x.com/21DucksAUFC" target="_blank"><img src="/assets/svg/twitter-fill-svgrepo-com.svg" alt="Twitter/X"></a></div>
                <div><a href="https://www.facebook.com/Aylesburyunitedfc" target="_blank"><img src="/assets/svg/facebook-fill-svgrepo-com.svg" alt="Facebook"></a></div>
                <div><a href="https://www.instagram.com/aylesburyunitedfc" target="_blank"><img src="/assets/svg/instagram-fill-svgrepo-com.svg" alt="Instagram"></a></div>
            </div>
            <div>
                <div><a href="https://uk.linkedin.com/company/aylesburyunited" target="_blank"><img src="/assets/svg/linkedin-fill-svgrepo-com.svg" alt="LinkedIn"></a></div>
                <div><a href="https://whatsapp.com/channel/0029VabKAI8LI8YXTdLB1F0S" target="_blank"><img src="/assets/svg/whatsapp-fill-svgrepo-com.svg" alt="WhatsApp"></a></div>
                <div><a href="https://youtube.com/@aylesburyunited1897" target="_blank"><img src="/assets/svg/youtube-fill-svgrepo-com.svg" alt="Youtube"></a></div>
            </div>
        </div>
    </div>
</div>
