<header>
    <a href="/" class="logo"><img src="/assets/img/ducks-white.png" alt="21 Ducks Logo" /> Aylesbury United Supporters Trust</a>
    <ul class="menu" id="menu">
        <li>
            <a href="/news.html">News</a>
        </li>
        <li>
            <a href="/events.html">Events</a>
        </li>
        <li>
            <a href="/videos.html">Videos</a>
        </li>
        <li>
            <a href="/shop.html">Shop</a>
        </li>
        <li>
            <a href="/members.html">Members</a>
        </li>
    </ul>
    <div class="hamburger" id="hamburger">
        <div class="hamburger__line hamburger__line-first"></div>
        <div class="hamburger__line"></div>
        <div class="hamburger__line"></div>
    </div>
</header>
