<header>
    <a href="/">21 Ducks: Aylesbury United Supporters Trust</a>
    <ul class="menu" id="menu">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog.html">Blog</a>
        </li>
        <li>
            <a href="/about.html">About</a>
        </li>
        <li>
            <a href="/videos.html">Videos</a>
        </li>
    </ul>
    <div class="hamburger" id="hamburger">
        <div class="hamburger__line hamburger__line-first"></div>
        <div class="hamburger__line"></div>
        <div class="hamburger__line"></div>
    </div>
</header>
