header {
    width: 100%;
    background: $base-background-color;
    color: $base-color;
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 48px;
    z-index: 1;
    
    a.logo {
        display:block;
        height:38px; 
        padding:5px 20px; 
        color:white; 
        float:left; 
        line-height: 38px; 
        text-decoration: none;    
        font-weight: bold;
        font-size: 1.25em;
    
        .full {
            display: inline;
        }

        .acronym {
            display: none;
        }

        img {
            height: 38px;
            padding-right: 20px;
            float: left;
        }
    }

    ul {
        display: block;
        float: right;
        margin: 0px 0px;

        li {
            display: inline;
            float: left;
            margin: 0px 20px 0px 0px;
            line-height: 48px;
            font-family: arial;
            font-weight: 900;

            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }

    .hamburger {
        display: none;
    }
}

.wrapper {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    background: white;

    .sidebar {
        width: 380px;
        display: block;
        overflow: hidden;
        box-sizing: border-box;
        margin-top: 48px;

        .menu {
            padding: 20px;
            display: block;
            color: white;
            font-weight: bold;
            background: $sub-color;
            box-sizing: border-box;

            ul {
                li:first-child {
                    margin-left: 0px;
                    border: 1px solid white;

                    a {
                        padding: 10px 5px 10px 10px;
                    }
                }
                
                li {
                    list-style: none;
                    display:block;
                    box-sizing: border-box;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    border-bottom: 1px solid white;
                    margin: 0px;

                    a {
                        color: white;
                        text-decoration: none;
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 10px 5px 10px 25px;
                    }
                }
            }
        }

        .avatar {
            background-color: $sub-background-color-one;
            
            img {
                display: block;
                width: 100%;
                height: auto;
                padding: 0px;
            }
        }
    
        .bio {
            padding: 20px;
            display: block;
            color: white;
            font-weight: bold;
            background: $base-color;
            box-sizing: border-box;

            a {
                color: white;
            }
        }

        .contact {
            padding: 20px;
            display: block;
            color: white;
            font-weight: bold;
            background: $sub-color;
            box-sizing: border-box;

            a {
                color: $base-color;
            }

            .socials {
                width: 340px;
                padding: 0px 5px;
                box-sizing: border-box;

                div {

                display: flex;
                flex-direction: row;
                gap: 10px;

                    div {
                        display: block;
                        width: 80px;
                        margin: 10px;
                        
                        a {
                            display: block;
                            width: 100%;

                            img {
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .contact, .menu, .bio {
            h2 {
                color: white;
                margin: 0.5em 0 0.5em 0;
            }
        }
    }
}

.content {
    width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background: white;

    .img-holder {
        width: 900px;
        height: 394px;
        display: block;
        margin-top: 48px;
        position: relative;

        img {
            width: 900px;
            height: 394px;
            display: block;
            object-fit: cover;
        }

        a {
            display: block;
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 0.75em;
            text-decoration: none;
        }
    }

    hr {
        width:30%;
        margin: 2.5em 35%;
        border: 0px;
        height: 1px;
        background-color: rgb(217, 217, 217);
    }
}

.wrapper, .content {
    section {
        width: 900px;
        display: block;
        overflow: hidden;
        box-sizing: border-box;
        padding:0px 40px 40px 40px;
        margin-top: 48px;
        background: white;

        img {
            display: block;
            max-width: 100%;
        }

        .tags {
            margin-bottom: 30px;
        }

        .membership-type {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid $base-color;
            margin: 20px 0px;
            padding: 0px;

            .header {
                h2 {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    padding: 10px 20px;
                }
            }

            .green {
                background-color: $base-color;

                h2 {
                    color: white;
                }
            }

            .white {
                border-bottom: 1px solid $base-color;
            }

            .gold {
                background-color: $sub-color;

                h2 {
                    color: white;
                }
            }

            .features {
                padding: 10px 20px;

                ul {
                    li {
                        list-style: none;
                        margin-left: 0px;
                    }

                    li:first-child {
                        font-weight: bold;
                    }
                }
            }
        }

        iframe.fan-forum, iframe.fifty-draw {
            width: 100%;
            height: 650px;
            border: none;
            margin-top: 20px;
        }

        iframe.fifty-draw {
            height: 1200px;
        }

        .profile {

            display: block;
            overflow: hidden;
            margin: 20px 0px;

            img {
                float: left;
                width: 100px;
                margin-right: 20px;
                background: $sub-background-color-one;
            }

            h2 {
                margin-top: 0px;
            }
        }
    }
}

.content { 
    section:nth-child(2) {
        margin-top: 0px;
    }
}

.content-latest {
    display: flex;
    flex-direction: row;

    .post-latest, .video-latest, .event-latest {
        box-sizing: border-box;
        width: 50%;
        padding: 20px 20px 20px 0px;

        img {
            width: 100%;
            max-height: 150px;
            display: block;
            object-fit: cover;
        }

        iframe {
            width: 100%;
            height: 150px;
            margin: 0px;
        }
    }

    .event-latest {
        box-sizing: border-box;
        width: 50%;
        padding: 20px 0px 20px 20px;
    }
}

footer {
    width: 100%;
    margin: 0px auto;
    display: block;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    padding:0px 20px;
    background: $sub-color;
    color: white;

    a {
        color: $base-color;
    }

    .sitemap {
        display: flex;
        flex-direction: row;
        width: 630px;
        padding: 0px 5px;
        margin: 0px auto;
        
        div {
            display: block;
            box-sizing: border-box;
            width: 210px;
            padding: 20px;
            margin: 0px inherit;

            ul {
                li {
                    list-style: none;
                    text-align: left;
                    margin-top: 0.25em;
                    margin-bottom: 0em;

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }

    .socials {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 320px;
        margin: 0px auto;

        div {
            display: block;

            a {
                display: block;
                width: 100%;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

#popupOverlay.hidden {
    display: none;
}

#popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

    #popupContent {
        background-color: white;
        box-sizing: border-box;
        width: 50%;
        margin: 0px auto;
        margin-top: 20px;
        padding: 20px;
        border: 3px solid $base-color;

        #closePopup {
            display: block;
            text-align: center;
            background-color: $base-color;
            color: white;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
        }
    }
}
